<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="alert alert-success col-md-6 text-center" role="alert">
      Puedes Ingresar Valores Manualmente o subir un archivo de Excel<br>
      <a class ="text-primary" href="">¿Qué debe contener el archivo Excel?</a>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="12" #valor>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2"
          (click)="agregarValores(valor)">Insertar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile02" (change)="onFileChange($event)"
          accept=".xlsx">
          <label class="custom-file-label" for="inputGroupFile02">Subir Archivo...</label>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row mt-3">
    <div class="col-md-2">
      <h4 class="text-dark text-center">Datos</h4>
      <div class="row m-2">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col" class="text-center">Dato</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of valoresSinOrden; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td class="text-center">{{ item.Dato }}</td>
            </tr>
            <tr class="bg-secondary text-white text-center">
              <td scope="col">TOTAL</td>
              <td scope="col">{{sumatoriadatos}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-10">
      <h4 class="text-dark text-center">Tabla de Frecuencias</h4>
      <div class="row m-2">
        <table class="table" *ngIf="sumatoria < 20 && sumatoria!=0">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Xi</th>
              <th scope="col" class="text-center">fi</th>
              <th scope="col" class="text-center">Fi</th>
              <th scope="col" class="text-center">fr</th>
              <th scope="col" class="text-center">f%</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor=" let item of valoresSinDuplicados; index as i ">
              <th scope="row" class="text-center">{{ i+1 }}</th>
              <td class="text-center">{{ item }}</td>
              <td class="text-center">{{frecuencia[i]}}</td>
              <td class="text-center">{{frecuenciaAcumulada[i]}}</td>
              <td class="text-center">{{frecuenciaRelativa[i]| number:'1.2-2'}}</td>
              <td class="text-center">{{frecuenciaRelativaAcumulada[i]| number:'1.2-2'}}%</td>
            </tr>
            <tr class="static" class="text-center bg-secondary text-white">
              <th scope="row" >Total</th>
              <th>-</th>
              <th>{{sumatoria}}</th>
              <th>-</th>
              <th>1</th>
              <th>100%</th>
            </tr>
          </tbody>
        </table>
        <table class="table" *ngIf="sumatoria >= 20">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Clase</th>
              <th scope="col" class="text-center" colspan="2">Intervalo de Clase</th>
              <th scope="col" class="text-center">Marcas de Clase</th>
              <th scope="col" class="text-center">fi</th>
              <th scope="col" class="text-center">Fi</th>
              <th scope="col" class="text-center">fr</th>
              <th scope="col" class="text-center">f%</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor=" let item of intervaloInferior; index as i ">
              <th scope="row" class="text-center">{{ i+1 }}</th>
              <td class="text-center">{{intervaloInferior[i]| number:'1.2-2'}}</td>
              <td class="text-center">{{intervaloSuperior[i]| number:'1.2-2'}}</td>
              <td class="text-center">{{marcaDeClase[i]| number:'1.2-2'}}</td>
              <td class="text-center">{{frecuenciaIntervalos[i]}}</td>
              <td class="text-center">{{frecuenciaInterAcumulada[i]}}</td>
              <td class="text-center">{{frecuenciarelativaMayor20[i] | number:'1.2-2'}}</td>
              <td class="text-center">{{frecuenciaporcentualMayor20[i] | number:'1.2-2' }}%</td>
            </tr>
            <tr class="static" class="text-center bg-secondary text-white">
              <th scope="row">Total</th>
              <th>-</th>
              <th>-</th>
              <th>-</th>
              <th>{{sumatoria}}</th>
              <th>-</th>
              <th>1</th>
              <th>100%</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row m-2">
        <div class="col-md-3"></div>
        <table align="left" class="table col-md-6 border" *ngIf="sumatoria < 20 && sumatoria!=0">
          <tr class="static text-center">
            <th scope="row" class="bg-primary text-white">Media</th>
            <th scope="row" class="bg-primary text-white">Mediana</th>
            <th scope="row" class="bg-primary text-white">Moda</th>
          </tr>
          <tr class="static text-center">
            <td scope="row">{{media| number:'1.2-2'}}</td>
            <td scope="row">{{datomediana}}</td>
            <td scope="row" *ngIf="modaMayor==0">No hay Moda</td>
            <td scope="row" *ngIf="modaMayor>=1">{{moda}}</td>
          </tr>
        </table>
        <table align="left" class="table col-md-6 border" *ngIf="sumatoria >= 20">
          <tr class="static text-center">
            <th scope="row" class="bg-primary text-white">Rango</th>
            <th scope="row" class="bg-primary text-white">Clase</th>
            <th scope="row" class="bg-primary text-white">Amplitud</th>
          </tr>
          <tr class="static text-center">
            <td scope="row">{{rango}}</td>
            <td scope="row">{{clase| number:'1.2-2'}}</td>
            <td scope="row">{{amplitud| number:'1.2-2'}}</td>
          </tr>
        </table>
        <div class="col-md-3"></div>
      </div>
      <div class="row mb-5">
        <div class="col-md-3"></div>
        <button type="button" class="btn btn-warning m-2 col-md" data-toggle="modal" 
          data-target=".bd-example-modal-lg">
            Ver Grafica de Pastel
        </button>
        <button type="button" class="btn btn-secondary m-2 col-md" data-toggle="modal" 
          data-target=".bd-example-modal-lg2">
            Ver Grafica de Barras
        </button>

        <button type="button" class="btn btn-primary m-2 col-md" data-toggle="modal" 
        data-target=".bd-example-modal-lg3">Ver Grafica de Puntos</button>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>

<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    
    <div class="modal-content">
      <div class="modal-header" align="center">
        <h5 class="modal-title" id="exampleModalLabel" >Grafica de Pastel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="chart">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>
</div>

    

<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <h5 class="modal-title" id="exampleModalLabel" >Grafica de Barras</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <button class="btn btn-primary col-12" (click)="randomize()" align="center">Cambiar Vista</button>


        <div>
          <div>
            <div >
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType"></canvas>
            </div>
          </div>
    
        <div>
    
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <h5 class="modal-title" id="exampleModalLabel" >Diagrama de Puntos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="display: block">
        <canvas baseChart
          [datasets]="scatterChartData"
          [options]="scatterChartOptions"
          [labels]="scatterChartLabels"
          [chartType]="scatterChartType">
        </canvas>
      </div>
    </div>



  </div>
</div>