<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Frecuencias Absolutas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div align="center">
  <div class="row">
    <div class="col-2" >
      <ul class="list-group">
        <li class="list-group-item active">Datos</li>
        <li class="list-group-item" >
          <div class="input-group">
            <input type="number" class="form-control" placeholder="Numero" #valor>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="agregarValores(valor)">+</button>
            </div>
          </div>
        </li>
  
        <li class="list-group-item" *ngFor="let item of valoresSinOrden">{{item}}</li>
      </ul>
    </div>
    <div class="col-10" *ngIf="sumatoria!=0">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr class="static">
            <th scope="col-2">Xi</th>
            <th scope="col-2">fi</th>
            <th scope="col-2">Fi</th>
            <th scope="col-2">ni</th>
            <th scope="col-2">Ni</th>
          </tr>
        </thead>
        <tbody>
          <tr class="static" *ngFor="let item of valoresSinDuplicados; index as i" >
            <th scope="row">{{item}}</th>
            <td>{{frecuencia[i]}}</td>
            <td>{{frecuenciaAcumulada[i]}}</td>
            <td>{{frecuenciaRelativa[i]}}%</td>
            <td>{{frecuenciaRelativaAcumulada[i]}}%</td>
    
          </tr>
          <tr class="static">
            <th scope="row">Total</th>
            <th>{{sumatoria}}</th>
            <th>{{sumatoria}}</th>
            <th>100%</th>
            <th>100%</th>
          </tr>
          <tr class="static">
            <th scope="row">Moda</th>
            <th>{{moda}}</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr class="static">
            <th scope="row">Media</th>
            <th>{{media}}</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr class="static">
            <th scope="row">Mediana</th>
            <th>{{datomediana}}</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 
</div>




