<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Frecuencias Absolutas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="margen">
  <div align="center">
    <div class="row">
      <div class="col-2">
        <div class="input-group">
          <input type="number" class="form-control" placeholder="Dato" #valor>
          <div class="input-group-append">
            <button class="btn btn-dark" type="button" (click)="agregarValores(valor)">+</button>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of valoresSinOrden">{{item}}</li>
        </ul>
      </div>
      <div class="col-10" *ngIf="sumatoria>20"><!-- *ngIf="sumatoria>20" -->
        <table class="table table-bordered" >
          <thead class="thead-dark">
            <tr class="static">
              <th scope="col-2"> Clase</th>
              <th scope="col-2" colspan="2">Intervalos de Clase</th>
              <th scope="col-2">Marcas de Clase</th>
              <th scope="col-2">fi</th>
              <th scope="col-2">Fi</th>
              <th scope="col-2">fr</th>
              <th scope="col-2">f%</th>
            </tr>
          </thead>
          <tbody>
            <tr class="static" *ngFor="let item of intervaloInferior; index as i">
              <th scope="row">{{i+1}}</th>
              <th>{{intervaloInferior[i]| number:'1.2-2'}}</th>
              <th>{{intervaloSuperior[i]| number:'1.2-2'}}</th>
              <td>{{marcaDeClase[i]| number:'1.2-2'}}</td>
              <td>{{frecuenciaIntervalos[i]}}</td>
              <td>{{frecuenciaInterAcumulada[i]}}</td>   
              <td>{{frecuenciarelativaMayor20[i] | number:'1.2-2'}}</td>
              <td>{{frecuenciaporcentualMayor20[i] | number:'1.2-2' }}%</td>
        
        
            </tr>
            <tr class="static">
              <th scope="row">Total</th>
              <th></th>
              <th></th>
              <th></th>
              <th>{{sumatoria}}</th>
              <th>{{sumatoria}}</th>
              <th>1</th>
              <th>100%</th>
            </tr>
            <div align="left">
              <h6>
                Medidas de tendencia central
              </h6>
              <tr class="static">
                <th scope="row">Media: {{media| number:'1.2-2'}}</th>
              </tr>
              <tr class="static">
                <th scope="row">Mediana: {{datomediana}}</th>
              </tr>
              <tr class="static">
                <th scope="row" *ngIf="modamayor==1">No hay moda</th>
                <th scope="row" *ngIf="modamayor!=1">Moda: {{moda}}</th>
              </tr>
            </div>
          </tbody>
          <div align="left">
            <tr class="static">
              <th scope="row">Rango: {{rango}}</th>
            </tr>
            <tr class="static">
              <th scope="row">Clase: {{clase| number:'1.2-2'}}</th>
            </tr>
            <tr class="static">
              <th scope="row">Intervalo de clase: {{amplitud| number:'1.2-2'}}</th>
            </tr>
          </div>
        
        </table>
      </div>
      <div class="col-10" *ngIf="sumatoria<=20&&sumatoria!=0">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr class="static">
              <th scope="col-2"> Xi</th>
              <th scope="col-2">fi</th>
              <th scope="col-2">Fi</th>
              <th scope="col-2">fr</th>
              <th scope="col-2">f%</th>
            </tr>
          </thead>
          <tbody>
            <tr class="static" *ngFor="let item of valoresSinDuplicados; index as i">
              <th scope="row">{{item}}</th>
              <td>{{frecuencia[i]}}</td>
              <td>{{frecuenciaAcumulada[i]}}</td>
              <td>{{frecuenciaRelativa[i]| number:'1.2-2'}}</td>
              <td>{{frecuenciaRelativaAcumulada[i]| number:'1.2-2'}}%</td>

            </tr>
            <tr class="static">
              <th scope="row">Total</th>
              <th>{{sumatoria}}</th>
              <th>{{sumatoria}}</th>
              <th>1</th>
              <th>100%</th>
            </tr>
          </tbody>


        </table>
        <br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <button type="button" class="btn btn-secundary" data-toggle="modal" data-target=".bd-example-modal-lg">Ver Grafica de Pastel</button>
          <button type="button" class="btn btn-secundary" data-toggle="modal" data-target=".bd-example-modal-lg2">Ver Grafica de Barras</button>
        </div>
        <div align="left">
          <h6>
            Medidas de tendencia central
          </h6>
          <tr class="static">
            <th scope="row">Media: {{media| number:'1.2-2'}}</th>
          </tr>
          <tr class="static">
            <th scope="row">Mediana: {{datomediana}}</th>
          </tr>
          <tr class="static">
            <th scope="row" *ngIf="modamayor==1">No hay moda</th>
            <th scope="row" *ngIf="modamayor!=1">Moda: {{moda}}</th>
          </tr>
        </div>
        

        
      </div>
      
    </div>

  </div>
  <br><br>

<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    
    <div class="modal-content">
      <div class="modal-header" align="center">
        <h5 class="modal-title" id="exampleModalLabel" >Grafica de Pastel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="chart">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>
</div>

    

<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <h5 class="modal-title" id="exampleModalLabel" >Grafica de Barras</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


        <div>
          <div>
            <div >
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
    
        <div>
    
        </div>
        <div>
        </div>
      </div>
      <button class="btn btn-primary col-12" (click)="randomize()" align="center">Cambiar Vista</button>

    </div>
  </div>
</div>


<br>

</div>